In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

# these are for test purposes
import json
from pprint import pprint

app = Flask(__name__)

In [2]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///../db/NBATOP10STATS_v3.sqlite"
db = SQLAlchemy(app)
#
# # reflect an existing database into a new model
Base = automap_base()
# # reflect the tables
Base.prepare(db.engine, reflect=True)
#
# # Save references to each table
# Samples_Metadata = Base.classes.sample_metadata
# Samples = Base.classes.samples
NBATOP = Base.classes.nbatop

stmt = db.session.query(NBATOP).statement
df = pd.read_sql_query(stmt, db.session.bind)

D:\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
df.head()

,ROWID,Player,Year,Team,G,Min,FGM,FGA,FG%,3PTM,...,FT%,Off,Def,Tot,Ast,TO,Stl,Blk,PF,Pts
0,1,Lebron James,2003,CLE,79,39.5,7.9,18.9,0.417,0.8,...,0.754,1.3,4.2,5.5,5.9,3.5,1.6,0.7,1.9,20.9
1,2,Lebron James,2004,CLE,80,42.4,9.9,21.1,0.472,1.4,...,0.750,1.4,6.0,7.4,7.2,3.3,2.2,0.7,1.8,27.2
2,3,Lebron James,2005,CLE,79,42.5,11.1,23.1,0.480,1.6,...,0.738,0.9,6.1,7.0,6.6,3.3,1.6,0.8,2.3,31.4
3,4,Lebron James,2006,CLE,78,41.0,9.9,20.8,0.476,1.3,...,0.698,1.1,5.7,6.7,6.0,3.2,1.6,0.7,2.2,27.3
4,5,Lebron James,2007,CLE,75,40.4,10.6,21.9,0.484,1.5,...,0.712,1.8,6.1,7.9,7.2,3.4,1.8,1.1,2.2,30.0

In [10]:
df.columns

Index(['ROWID', 'Player', 'Year', 'Team', 'G', 'Min', 'FGM', 'FGA', 'FG%',
       '3PTM', '3PTA', '3PT%', 'FTM', 'FTA', 'FT%', 'Off', 'Def', 'Tot', 'Ast',
       'TO', 'Stl', 'Blk', 'PF', 'Pts'],
      dtype='object')

In [4]:
list(df.columns)[2:]

['Year',
 'Team',
 'G',
 'Min',
 'FGM',
 'FGA',
 'FG%',
 '3PTM',
 '3PTA',
 '3PT%',
 'FTM',
 'FTA',
 'FT%',
 'Off',
 'Def',
 'Tot',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'Pts']

In [5]:
list(df.Player.unique())

['Lebron James',
 'Stephen Curry',
 'Kevin Durant',
 'Russel Westbrook',
 'Kyrie Irving',
 'James Harden',
 'Anthony Davis',
 'Kawhi Leonard',
 'Giannis Antetokounmpo',
 'Chris Paul']

In [7]:
#return all of lebrons stuff only
sample_data = df.loc[df["Player"] == "Lebron James", ["Player", "Year", "Team", "FGM", "FG%", "FTM", "FT%"]]
sample_data

          Player  Year Team   FGM    FG%  FTM    FT%
0   Lebron James  2003  CLE   7.9  0.417  4.4  0.754
1   Lebron James  2004  CLE   9.9  0.472  6.0  0.750
2   Lebron James  2005  CLE  11.1  0.480  7.6  0.738
3   Lebron James  2006  CLE   9.9  0.476  6.3  0.698
4   Lebron James  2007  CLE  10.6  0.484  7.3  0.712
5   Lebron James  2008  CLE   9.7  0.489  7.3  0.780
6   Lebron James  2009  CLE  10.1  0.503  7.8  0.767
7   Lebron James  2010  MIA   9.6  0.510  6.4  0.759
8   Lebron James  2011  MIA  10.0  0.531  6.2  0.771
9   Lebron James  2012  MIA  10.1  0.565  5.3  0.753
10  Lebron James  2013  MIA  10.0  0.567  5.7  0.750
11  Lebron James  2014  CLE   9.0  0.488  5.4  0.710
12  Lebron James  2015  CLE   9.7  0.520  4.7  0.731
13  Lebron James  2016  CLE   9.9  0.548  4.8  0.674
14  Lebron James  2017  CLE  10.5  0.542  4.7  0.731

In [9]:
#convert to lists
data = {
    "year": sample_data.Year.values.tolist(),
    "field_goals_made": sample_data.FGM.values.tolist(),
    "free_throws_made": sample_data.FTM.values.tolist()
}

data

{'field_goals_made': [7.9,
  9.9,
  11.1,
  9.9,
  10.6,
  9.7,
  10.1,
  9.6,
  10.0,
  10.1,
  10.0,
  9.0,
  9.7,
  9.9,
  10.5],
 'free_throws_made': [4.4,
  6.0,
  7.6,
  6.3,
  7.3,
  7.3,
  7.8,
  6.4,
  6.2,
  5.3,
  5.7,
  5.4,
  4.7,
  4.8,
  4.7],
 'year': [2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017]}